body {
    background-color: #232323;
    color: white;
}

#currentRgb {
    /*This will also be used as the js element that we will use to change everything*/
    background-color: rgb(50, 180, 255);
    /* set this to any default and make them match in all the belows*/
    font-size: 1.3em;
}

.jumbotron {
    background-color: rgb(50, 180, 255);
    /* set this to any default and make them match in all the belows*/
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

#hamburger {
    background-color: rgb(50, 180, 255);
    /*margin: 0px 5px;*/
}

#hamburger:hover {
    background-color: grey;
}

.navbar-inverse {
    background-color: white;
    border: 0px;
    font-weight: bolder;
}

.navbar-inverse .navbar-nav>li>a {
    color: rgb(50, 180, 255);
    padding: 5px;
    text-align: center;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: white;
    background-color: rgb(50, 180, 255);
}

.square {
    background-color: purple;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}
#squareHolder{
    margin: 0 auto;
    max-width: 600px;
}
