body {
    background-color: #232323;
    color: white;
}

h2 {
    font-size: 8em;
    color: black;
}

#currentRgb {
    /* set this to any default and make them match in all the belows*/
    font-size: 1.3em;
}

.jumbotron {
    background-color: rgb(50, 180, 255);
    /* set this to any default and make them match in all the belows*/
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

#hamburger {
    background-color: rgb(50, 180, 255);
}

#hamburger:hover {
    background-color: grey;
}

.navbar-inverse {
    background-color: white;
    border: 0px;
    font-weight: bolder;
}

#tryAgain {
    color: rgb(50, 180, 255);
    margin-left: 30%;
    margin-right: 30%;
}

.navbar-inverse .navbar-nav>li>a {
    color: rgb(50, 180, 255);
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: white;
    background-color: rgb(50, 180, 255);
}

.square {
    background-color: purple;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#squareHolder {
    margin: 0 auto;
    max-width: 600px;
}
