h1, p {
    text-align: center;
}

table {
    margin: auto;
}

td {
    width: 100px;
    height: 100px;
    /*padding: 2em;*/
}

.center-row {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.center-column {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
